body, html {
    font-family: "Roboto", sans-serif;
    background: linear-gradient(to bottom, #87e0fd 0%,#c08d2e 40%,#ee4503 100%);
    height: 100%;
}

.logo{
    // background: url('./favicon.png');
    background-image: url("https://cdn.pixabay.com/photo/2020/02/05/09/57/namibia-4820682_960_720.jpg");
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: contain;
    // display: block;
}


